.navigation a {
    float: left;
    display: block;
    color: #2C2C2C;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Inter';
    font-size: 17px;
    border-bottom: 1px solid #E0E0E0;
  }

  .navigation a.active {
    color: #18A0FB;
    border-bottom: 3px solid #18A0FB;
  }

  .navigation {
      margin: 40px;
      width: 874px;
  }

  .titlebox {
    width: 1350px;
    border-style:solid;
    border-width: 5px;
    border-radius: 25px;
    border-color: #18A0FB;
    margin: 50px;
    
  }

  body {
      display: flex;
      flex-direction: column;
      position: relative;
      justify-content: flex-start;
  }

  h1 {
    font-family: "Inter";
    font-size: 35px;
    text-align: center;
  }


  .rect-1 {
    width: 556px;
    border-style:solid;
    border-width: 5px;
    border-radius: 25px;
    border-color: #C4C4C4;
    margin-left: 50px;
  }

  h2 {
    font-family: "Inter";
    font-size: 30px;
    text-align: center;
  }

  .rect-2 {
    width: 556px;
    border-style:solid;
    border-width: 5px;
    border-radius: 25px;
    border-color: #E0E0E0;
    margin-left: 50px;
    margin-top: 20px;
  }

  ul {
    font-family: "Inter";
    font-size: 25px;
    text-align: left;
    line-height: 1.6;
    list-style-type: none;
  }

  .started {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .rect-3 {
    display: flex;
    width: 700px;
    border-style:solid;
    border-width: 5px;
    border-radius: 25px;
    border-color: #E7AE7E;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    float: left;
    padding: 20px;
  }

  .body-2 {
      display: flex;
      align-items:flex-start;
      flex-direction: row;
      justify-content: flex-start;
  }

  img {
    display: block;
  }

  #button {
    width: 400px;
    border-radius: 25px;
    margin-left: 50px;
    margin-top: 20px;
    background-color: #18A0FB;
  }

  h3 {
    font-family: "Inter";
    font-size: 30px;
    text-align: center;
    color: #FFFFFF;
  }