{% extends "layouts.html" %}
{% block content %}
    <div class= "content-section">
        <form method="POST" action=""> 
            {{ form.hidden_tag() }}
            <!-- INPUT FIELDS -->
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"> Conduct LCA</legend>
                <div class="form-group">
                    {{form.product_name.label}} <!-- label of username field -->
                    {{form.product_name(class = "form-control form-control-lg")}} <!-- label of username field -->                
                </div>
                <div class="form-group">
                    {{form.material_type.label(class = "form-control-label")}} <!-- label of username field -->
                    {{form.material_type(class = "form-control form-control-lg")}} <!-- label of username field -->
                </div>
                <div class="form-group">
                    {{form.material_density.label(class = "form-control-label")}} <!-- label of username field -->
                    {{form.material_density(class = "form-control form-control-lg")}} <!-- label of username field -->
                </div>
                <div class="form-group">
                    {{form.p_type.label(class = "form-control-label")}} <!-- label of username field -->
                    {{form.p_type(class = "form-control form-control-lg")}} <!-- label of username field -->
                </div>
                <div class="form-group">
                    {{form.mass.label(class = "form-control-label")}} <!-- label of username field -->
                    {{form.mass(class = "form-control form-control-lg")}} <!-- label of username field -->
                </div>
                <div class="form-group">
                    {{form.box_size.label(class = "form-control-label")}} <!-- label of username field -->
                    {{form.box_size(class = "form-control form-control-lg")}} <!-- label of username field -->
                </div>
            </fieldset>
            <!-- SUBMIT BUTTON -->
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }} <!-- submit button (blue outline button)-->
            </div>
        </form>
    </div> 
{% endblock content %}